:root {
	--color-background-primary: #7772f1;
  --color-background-secondary: #ffff;
  --color-background-tertiary: #f4f5f6;
  --color-brand-primary: #7772f1;
  --color-brand-secondary: #ffff;
  --color-text-primary: #7772f1;
  --color-text-secondary: #787a80;
  --color-text-tertiary: #787a80;
  --color-text-on-primary: #ffff;
  --color-text-on-form-primary: #9a9ca5;
  --color-text-on-form-secondary: #ffff;
  --color-text-interactive-default-primary: #ffff;
  --color-text-interactive-hover-primary: #ffff;
  --color-text-interactive-active-primary: #ffff;
  --color-text-interactive-default-secondary: #7772f1;
  --color-text-interactive-hover-secondary: #00f0b5;
  --color-text-interactive-active-secondary: #00f0b5;
  --color-button-default: #7772f1;
  --color-button-hover: #00f0b5;
  --color-button-active: #00f0b5;
  --color-icon-primary: #7772f1;
  --color-icon-secondary: #ffff;
  --color-form-primary: #f4f5f6;
  --color-form-border-primary: #d7dadd;
  --color-form-secondary: #ffff;
  --color-form-border-secondary: #ffff;
  --white: #fff;
  --primary: #7772f1;
  --secondary: #00f0b5;
  --success: #03cea4;
  --danger: #ff4242;
  --warning: #f89828;
  --info: #5a87fc;
  --gray-900: #1e212c;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-500: #b3b7bc;
  --gray-400: #d7dadd;
  --gray-300: #e5e8ed;
  --gray-200: #f4f5f6;
  --gray-100: #f9f9f9;
}
